h3 {
    font-weight: bold;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1 {
    background-image: url(../pattern.jpeg);
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    color: khaki;
    font-size: 100px;
}

.brushes, .frames, .paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}

.brushes {
    background-color: mediumspringgreen;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}