img {
  height: 150px;
}

h1 {
  text-align: center;
}

.description {
  font-size: 20px;
  color: green;
  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: green;
  text-align: center;
}

#cook-time {
  font-weight: bold;
  font-size: 15px;
}

.ingredients {
  list-style: square;
}

.time {
  color: gray;
}

li {
  text-decoration: underline;
}

.external-link {
  color: SeaGreen;
}

h1,
h2,
p,
li {
  font-family: Helvetica;
}

.responsive {
  display: block;
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.responsive:hover {
  animation: shake 5.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(15px, 15px) rotate(0deg); }
  10% { transform: translate(50px, 50px) rotate(-5deg); }
  20% { transform: translate(-1px, -2px) rotate(0deg); }
  30% { transform: translate(-3px, 0px) rotate(5deg); }
  40% { transform: translate(3px, 2px) rotate(-5deg); }
  50% { transform: translate(1px, -1px) rotate(5deg); }
  60% { transform: translate(-1px, 2px) rotate(-5deg); }
  70% { transform: translate(-3px, 1px) rotate(5deg); }
  80% { transform: translate(3px, 1px) rotate(-5deg); }
  90% { transform: translate(-1px, -1px) rotate(5deg); }
  100% { transform: translate(1px, 2px) rotate(-5deg); }
}